<template name="layout">
    <div class="container">
      {{> header}}
      {{> errors}}
        <div id="main" class="row-fluid">
          {{> yield}}
        </div>
    </div>
</template>

<!--
<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'usersList'}}">Heavon</a>
          <a class="navbar-brand" href="{{pathFor 'transacsList'}}">Transactions</a>
          <a class="navbar-brand" href="{{pathFor 'configList'}}">Configuration</a>
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
          </ul>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>

  </div>
</template>-->
