<template name="userItem">
    <form>
    <div class="simo_users">
        <div class="simo_user-content">
            <table id="simo_user-content" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Mail</th>
                    <th>Adresse</th>
                    <th>Bank</th>
                    <th>IBAN</th>
                    <th>Balance EUR</th>
                    <th>Balance USD</th>
                    <th>Balance GBO</th>
                    <th>Balance CZK</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>{{mail}}</td>
                    <td>{{address}}</td>
                    <td>{{bank}}</td>
                    <td> {{IBAN}}</td>
                    <td>{{ccyEuros}}</td>
                    <td>{{ccyUSD}}</td>
                    <td>{{ccyGBP}}</td>
                    <td>{{ccyCZK}}</td>
                </tr>
                </tbody>
            </table>
         </div>
    </div>
        <div class="form-actions">
            <a class="edit-link" href="/updateUser">EDIT</a>
            <input type="submit" value="Submit" />
        </div>
    </form>
</template>
