<template name="postTransfer">
  <form class="main form">
    <div class="form-group {{errorClass 'amount_sent'}}">
      <!--<label class="control-label" for="url">URL</label>-->
      <div class="controls">
          <form role="form" class="form-inline">
          <!--<input name="amount_sent" id="amount_sent" type="text" value="" placeholder="YOU SEND" class="form-control"/>-->
          <!--TO DO ADD DROP DOWN CURRENCY-->
          <span class="help-block">{{errorMessage 'amount_sent'}}</span>

              <div class="demo-section k-header">
              </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>

  </form>
          </div>
        </div>
      </form>
</template>