<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
              <!--<a class="navbar-brand" href="{{pathFor 'home'}}">Heavon</a>-->
              <a class="navbar-brand" href="{{pathFor 'user'}}">Profile</a>
              <a class="navbar-brand" href="{{pathFor 'transacsList'}}">History</a>
              <a class="navbar-brand" href="{{pathFor 'postTransfer'}}">New Transfer</a>
              <a class="navbar-brand" href="{{pathFor 'contactForm'}}">Contact Us</a>
          {{/if}}
        </ul>
          <div class="collapse navbar-collapse" id="navigation">
              <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
              </ul>
          </div>
      </div>
    </div>
  </nav>
</template>
